//@import  url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');

/**{
    font-family: 'S-CoreDream-3Light'; 
    color: #2E3A3A;
    margin: 0 ;
    padding: 0 ;
}*/

//content-box
.wrapper{
    width: 100%; 
    height: auto;
    background-color: #FAF9F6;
    
   
  
}

//text-box
.margin{
    //width: 850px;
    height: auto;
    margin-left: 6.67vw;
    margin-top: 6vh;
       
}

.fw{ font-weight: 500; padding-top: 1.8vh;}

