
//modal 너비 변경
/*.postmodal-style{ 
   max-width: 950px; 
   width: 90%;
}*/

//header 와 body 구분선
//.line{width: 95%; border: 0.75px dotted #DADADA; margin: 0 auto;}

/*.search-header{
 display: flex; 
 flex-wrap: wrap;
 width: 830px !important; 
 height: auto; 
 margin: 0 auto;
}*/



.img-fluid{
  width: 350px;
  height: auto;
  max-width: 100%;}


//info 관련 정렬
.info-box{margin-left: 3vw;}
//코코브라더스, 모집중 정렬
.info-title{width: 200px; 
  display: flex;
  align-items: center;
  
}
.recruit{width: 50px; height: 20px; 
  border-radius: 50px; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  
}

.detail-btn{
  width: 85px; height: 37px; 
  border-radius: 7px;
  background-color: #3A7F78;
  text-align: center;
  line-height: 37px;
  color: white;
  margin-left: 1.5vw;
}
.detail-wrap{display: flex;}


.author-interaction-section{margin-left: 2vw;}

.finderFee{
   width: 85px; height: 37px; 
  border-radius: 7px;
  border:1px solid #3A7F78;
  background: none;
  text-align: center;
  line-height: 37px;
  color:#3A7F78;
  margin-left: 2vw;
}
.finderFee-wrap{display: flex;}
.report-btn{border-radius: 50px;}

.review{
  width: 800px; 
  height: auto; 
  margin: 0 auto;
}





/* src/styles/_PostModal.scss */

// Bootstrap 변수를 오버라이드하거나 직접 사용


